<h1><%= t'user.registration_title' %></h1>

<% form_for(@user) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label t'user.username' %><br />
    <%= f.text_field :username %>
  </p>
  <p>
    <%= f.label t'user.email' %><br />
    <%= f.text_field :email %>
  </p>
  <p>
    <%= f.label t'user.password' %><br />
    <%= f.password_field :password %>
  </p>
  <p>
    <%= f.label t'user.password_confirmation' %><br />
    <%= f.password_field :password_confirmation %>
  </p>
  <p>
    <%= f.label t'user.language' %><br />
    <%= f.select :language, [['English', 'en'], ['Монгол', 'mn']] %>
  </p>
  <p>
    <%= f.submit t'user.register' %>
  </p>
<% end %>

<%= link_to 'Back', tabs_path %>
