<h1><%= (t 'tab.index_title') %></h1>
<table class="list">
  <tr bgcolor = '#222' >
    <th><%= link_to (t 'tab.title'), tabs_path(:order_by => 'title') %> v</th>
    <th><%= link_to (t 'tab.artist'), tabs_path(:order_by => 'artist') %> v</th>
    <th><%= link_to (t 'tab.tag'), tabs_path(:order_by => 'tag') %> v</th>
    <th><%= (t 'tab.user') %></th>
    <th><%= link_to (t 'tab.created_at'), tabs_path(:order_by => 'created_at') %> v</th>
    <th>Comments</th>
    <th>Views</th>
  </tr>

<% for tab in @tabs %>
  <tr bgcolor="<%= cycle('#aaa', '#ccc') %>">
    <td><strong><%= link_to tab.title, tab %></strong></td>
    <td><%=h tab.artist %></td>
    <td><%=h tab.tag %></td>
    <td><%= link_to User.find(tab.user_id).username, User.find(tab.user_id) %></td>
    <td><%= time_ago_in_words(tab.created_at) %> ago</td>
    <td><%= tab.comments.count %></td>
    <td><%= tab.counter %></td> 
    </tr>
<% end %>
</table>

<%= will_paginate @tabs %>
