<h1>Listing tabs</h1>
<% form_tag tabs_path, :method => 'get' do %>
	<%= text_field_tag :search, params[:search] %>
	<%= submit_tag "Search", :name => nil %>
<% end %>
<table>
  <tr bgcolor = "gray">
    <th>Title</th>
    <th>Artist</th>
    <th>Tag</th>
    <th>User</th>
    <th></th><th></th><th></th>
  </tr>

<% for tab in @tabs %>
  <tr bgcolor="<%= cycle('white', '#ccc') %>">
    <td><%= link_to tab.title, tab %></td>
    <td><%=h tab.artist %></td>
    <td><%=h tab.tag %></td>
    <td><%= image_tag User.find(tab.user_id).gravatar_url(:size => 20), :alt => User.find(tab.user_id).username, :height => 20 %> <%= link_to User.find(tab.user_id).username, User.find(tab.user_id) %></td>
    <td><%= time_ago_in_words(tab.created_at) %> ago</td>
    <% if current_user %>
      <% if current_user.id == tab.user_id %>
        <td><%= link_to 'Edit', edit_tab_path(tab) %></td>
        <td><%= link_to 'Destroy', tab, :confirm => 'Are you sure?', :method => :delete %></td>
      <% else %>
        <td></td><td></td>
      <% end %>
    <% else %>
      <td></td><td></td>
    <% end %>
  </tr>
<% end %>
</table>

