<h1>Listing tabs</h1>

<table>
  <tr>
    <th>Title</th>
    <th>Artist</th>
    <th>Tag</th>
    <th>User</th>
  </tr>

<% for tab in @tabs %>
  <tr>
    <td><h2><%= link_to tab.title, tab %></h2></td>
    <td><%=h tab.artist %></td>
    <td><%=h tab.tag %></td>
    <td><%=h tab.user_id %></td>
    <% if current_user %>
      <td><%= link_to 'Edit', edit_tab_path(tab) %></td>
      <td><%= link_to 'Destroy', tab, :confirm => 'Are you sure?', :method => :delete %></td>
    <% end %>
  </tr>
<% end %>
</table>

<br />

<% if current_user %>
  <%= link_to 'New tab', new_tab_path %>
<% end %>
