<h1><%= (t 'home.page_title.tab_list') %></h1>
<table class="list">
  <tr bgcolor="gray">
    <th><%= link_to (t 'home.tab_list.title'), tabs_path(:order_by => 'title') %> v</th>
    <th><%= link_to (t 'home.tab_list.artist'), tabs_path(:order_by => 'artist') %> v</th>
    <th><%= link_to (t 'home.tab_list.tag'), tabs_path(:order_by => 'tag') %> v</th>
    <th><%= (t 'home.tab_list.user') %></th>
    <th><%= link_to (t 'home.tab_list.created_at'), tabs_path(:order_by => 'created_at') %> v</th>
    <th></th><th></th>
  </tr>

<% for tab in @tabs %>
  <tr bgcolor="<%= cycle('white', '#ccc') %>">
    <td><%= link_to tab.title, tab %></td>
    <td><%=h tab.artist %></td>
    <td><%=h tab.tag %></td>
    <td><%= image_tag User.find(tab.user_id).gravatar_url(:size => 20), :alt => "[avatar]", :height => 20 %> <%= link_to User.find(tab.user_id).username, User.find(tab.user_id) %></td>
    <td><%= time_ago_in_words(tab.created_at) %> ago</td>
    <% if current_user %>
      <% if current_user.id == tab.user_id %>
        <td><%= link_to 'Edit', edit_tab_path(tab) %></td>
        <td><%= link_to 'Destroy', tab, :confirm => 'Are you sure?', :method => :delete %></td>
      <% else %>
        <td></td><td></td>
      <% end %>
    <% else %>
      <td></td><td></td>
    <% end %>
  </tr>
<% end %>
</table>

<%= will_paginate @tabs %>
