<p>
  <h1><%=h @tab.title %></h1>
</p>

<p>
  <b>Artist:</b>
  <%=h @tab.artist %>
</p>

<p>
  <b>Tag:</b>
  <%=h @tab.tag %>
</p>

<p>
  <b>User:</b>
  <%=h @tab.user_id %>
</p>

<pre>
  <%= @tab.tab %>
</pre>

<%= link_to 'Edit', edit_tab_path(@tab) %> |
<%= link_to 'Back', tabs_path %>
