<p>
  <h1><%=h @tab.title %></h1>
</p>

<p>
  <b>Artist:</b>
  <%=h @tab.artist %>
</p>

<p>
  <b>Tag:</b>
  <%=h @tab.tag %>
</p>

<p>
  <b>User:</b>
  <%=h User.find(@tab.user_id).username %>
</p>

<pre>
  <%= @tab.tab %>
</pre>

<% if current_user %>
  <% if current_user.id == @tab.id %>
    <%= link_to 'Edit', edit_tab_path(@tab) %> |
  <% end %>
<% end %>
<%= link_to 'Back', tabs_path %>
