<h1><%=h @tab.title %></h1>

<b>Artist:</b>
<%=h @tab.artist %>
<br />
<b>Tag:</b>
<%=h @tab.tag %>
<br />
<%= image_tag User.find(@tab.user_id).gravatar_url(:size => 50) %>
<br />
<%= link_to User.find(@tab.user_id).username, User.find(@tab.user_id) %> from <%= time_ago_in_words(@tab.created_at) %> ago 

<pre>
  <%= @tab.tab %>
</pre>

<% if current_user %>
  <% if current_user.id == @tab.id %>
    <%= link_to 'Edit', edit_tab_path(@tab) %> |
  <% end %>
<% end %>

<h2>Comments</h2>
<div id="comments">
  <%= render :partial => @tab.comments %>
</div>

<% form_for [@tab, Comment.new] do |f| %>
  <p>
    <%= f.label :body, "New comment" %><br />
    <% if current_user %>
      <%= f.text_field :username, {:value => current_user.username} %><br />
    <% else %>
      <%= f.text_field :username %><br />
    <% end %>
    <%= f.text_area :body %>
  </p>
  <p><%= f.submit "Add Comment" %></p>
<% end %>
