<h1><%=h @tab.title %></h1>

<b>Artist:</b>
<%=h @tab.artist %>
<br />
<b>Tag:</b>
<%=h @tab.tag %>
<br />
<%= image_tag User.find(@tab.user_id).gravatar_url(:size => 50) %>
<br />
<%= link_to User.find(@tab.user_id).username, User.find(@tab.user_id) %> from <%= time_ago_in_words(@tab.created_at) %> ago 
<%= link_to_function "Show Text", "toggle_visibility('text')" %>
<textarea id="text" style="display:none" readonly="readonly">
  <%= @tab.tab %>
</textarea>
<div id="preview"></div>
<% if current_user %>
  <% if current_user.id == @tab.user_id %>
    <%= link_to 'Edit', edit_tab_path(@tab) %>
  <% end %>
<% end %>

<h2>Comments</h2>
<div id="comments">
  <%= render :partial => @tab.comments %>
</div>

    <% if current_user %>
<% form_for [@tab, Comment.new] do |f| %>
  <p>
    <%= f.label :body, "New comment" %><br />
    <%= f.text_area :body %>
  </p>
  <p><%= f.submit "Add Comment" %></p>
<% end %>
<% end %>
<%= javascript_tag "show_tab('text', 'preview')" %>
