<!DOCTYPE html>

<html>
  <head>
    <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
    <title><%= (@tab && @tab.title) ? @tab.title : 'Gtree' %></title>
    
    <%= stylesheet_link_tag 'blueprint/screen', :media => "screen, projection" %>
    <%= stylesheet_link_tag 'blueprint/print', :media => "print" %>
    <%= stylesheet_link_tag 'common' %>

    <%= javascript_include_tag "show_tab" %>
    <%= javascript_include_tag "tablature" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tag %>
    <!--[if lt IE 8]>
    <link rel="stylesheet" href="css/blueprint/ie.css" type="text/css" media="screen, projection" />
    <![endif]-->
  </head>
  <body>
    <div class="container">
      <div class="header">
	<%= link_to image_tag("header.png"), root_url %>
	<%= link_to image_tag("home.png"), root_url, :title => "Home" %>
        <%= link_to image_tag("users.png"), users_path, :title => "Users" %>
	<% if current_user %>
	<%= link_to image_tag("add.png"), new_tab_path, :title => "Add tab" %>
        <%= link_to image_tag("my_tabs.png"), user_tab_path, :title => "My tabs" %>
        <div class="right">
	  <%= image_tag current_user.gravatar_url(:size => 25), :height => 25 %>
	  <%= link_to current_user.username, user_path(:current), :title => "Profile", :id=>"current_user" %>
	  <%= link_to image_tag("profile.png"), edit_user_path(:current), :title => "Edit profile"  %>
	  <%= link_to image_tag("logout.png"), logout_path, :title => "Logout" %>
	</div>
	<% else %>
	<div style="border: 1px solid; display: inline; background-color: #D6D6D6; padding: 2px;">
	  <%= link_to "Register", new_user_path, :title => "Register" %>
	</div>
      <% form_tag tabs_path, :method => 'get' do %>
        <%= text_field_tag :search, params[:search] %>
        <%= submit_tag "Search", :name => nil %>
      <% end %>
	<div class="right">
	  <%= link_to image_tag("login.png"), login_path, :title => "Login" %>
	</div>
	<% end %>
      </div>

      <% flash.each do |key, msg| %>
      <div class="span-24">
	<div class="<%= key %>">
	  <%= msg %>
	</div>
      </div>
      <% end %>

      <div class="mainContent">
	<%= yield %>
      </div>
    </div>
    <div class="exp_footer">
      <div class="footer">
	<p>This is footer</p>
      </div>
    </div>
  </body>
</html>
