<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
	<head>
	  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
	  <title>Tabs: <%= controller.action_name %></title>
	  <%= stylesheet_link_tag 'scaffold' %>
	  <%= javascript_include_tag 'tablature' %>
	  <link rel="stylesheet" href="/stylesheets/blueprint/blueprint/screen.css" type="text/css" media="screen, projection">
	  <link rel="stylesheet" href="/stylesheets/blueprint/blueprint/print.css" type="text/css" media="print"> 
	  <!--[if lt IE 8]>
		<link rel="stylesheet" href="css/blueprint/ie.css" type="text/css" media="screen, projection">
	  <![endif]-->
	</head>
	<body>
		<div class="container">
			<div class="span-24">
				<%= link_to image_tag("header.png"), root_url %>
				<% if current_user %>
				  <strong><%= link_to current_user.username, user_path(:current) %></strong> |
                                  <%= link_to "My tabs", user_tab_path %> |
				  <%= link_to 'Add tab', new_tab_path %> |
                                  <%= link_to 'Users', users_path %> |
				  <%= link_to "Logout", logout_path %>
				<% else %>
                                  <%= link_to 'Users', users_path %> |
				  <%= link_to "Register", new_user_path %> |
				  <%= link_to "Login", login_path %>
				<% end %>
			</div>

			<% flash.each do |key, msg| %>
			  <div class="span-24">
				  <div class="<%= key %>">
					<%= msg %>
				  </div>
			  </div>
			<% end %>

			<div class="span-24">
				<%= yield %>
			</div>
		</div>
	</body>
</html>
